<%- include("partials/header") %>

    <div class="flex justify-between">
        <h1 class="text-3xl">Home</h1>
        <a href="/compose">
            <button
                class="cursor-pointer hover:bg-gray-200 py-2 px-4 bg-[#00bc7d] rounded-lg w-fit text-white hover:text-black">COMPOSE</button>
        </a>
    </div>
    <br>
    <p>
    <p>
        <%= homeStartingContent %>
    </p>
    <br>
    <p class="text-xl">Recent Posts</p>
    <ul class="flex flex-col gap-4">
        <% posts.forEach(post=> { %>
            <li class="flex flex-col gap-4 p-4 border border-gray-300 rounded-lg h-auto">

                <p class="text-xl font-bold">

                    <%= post.title %>

                </p>

                <!-- body maximum length 300 -->
                <% if (post.body.length> 300) { %>
                    <!-- bold text 3xl -->
                    <p>
                        <%= post.body.substring(0, 300) + "..." %>

                    </p>
                    <div class="flex flex-row items-center gap-4">

                        <a href="/posts/<%= post.title %>" class="text-[#4bcda1] hover:underline font-medium">
                            Read More
                        </a>

                        <button
                            class="like-btn cursor-pointer py-2 px-4 bg-[#00bc7d] rounded-lg w-fit text-white hover:text-black transition-colors"
                            id="<%= post.id %>">
                            Likes: <%= post.likes %>
                        </button>

                    </div>
                    <% } else { %>
                        <p>
                            <%= post.body %>
                        </p>
                        <% } %>

            </li>
            <% }) %>
    </ul>

    <%- include("partials/footer") %>
        <script src="/like.js"></script>